@import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "custom-utilities";
body {
    margin: 0;
    font-family: "Roboto";
}

a {
    all: unset;
}