@import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "custom-utilities";
body {
    margin: 0;
    font-family: "Roboto";
}

a {
    all: unset;
}

.active {
    border-bottom: 3px solid;
    padding-bottom: 4px;
}