<footer class="body-font flex flex-1 bg-gray-300">
    <div class="px-5 py-4 mx-auto flex items-center sm:flex-row flex-col self-center">
        <h5>Footer Placeholder</h5>
    </div>
</footer>
{{yield}}