<div class="flex flex-col flex-auto">
    <div>
        <Layout::Header></Layout::Header>
    </div>

    <div class="flex h-screen">{{outlet}}</div>
    <div class="flex flex-row">
        <Layout::Footer></Layout::Footer>
    </div>
</div>