<div class="flex flex-row w-full my-10">
    <div class="w-1/6 ml-10 bg-gray-200 flex flex-col">
        {{#each @model as |category|}}
        <div class="w-full py-2 px-0 bg-gray-100 border-b-2 border-black hover:bg-gray-200">
            <span class="px-2 ">{{category.title}} ({{category.moviesCount}})</span>
        </div>
        {{/each}}
        <div class="self-center">Pagination</div>
    </div>
    <div class="w-5/6 mr-10">{{outlet}}</div>
</div>